a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

button {
    padding:5px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid blue;
    border-radius: 10px;
    box-shadow: 5px 5px;
    cursor: pointer;
    background-color: lightskyblue;
}

button:hover {
    box-shadow: 0px 0px;
    margin-top: 5px;
}

#mountain {
    background-color:aliceblue;
    box-shadow: 0px 0px;
    margin-top: 0px;
    font-weight: 700;
    font-size: 18px;

}

#mountain.active{
    background-color: #ffffff;
    opacity: 0.7;
}

.activity:hover {
    box-shadow: 0px 0px;
    margin-top: 5px;
}

.activity:active {
    box-shadow: 0px 0px;
    margin-top: 5px;
    background-color: #0464fd;
}